<!-- Page Title -->
<section class="page-title">
    <div class="auto-container">
        <h1>Contact Us</h1>

        <!-- Search Boxed -->
        <div class="search-boxed">
            <div class="search-box">
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="What do you want to learn?"
                            required>
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!--End Page Title-->

<!-- Contact Page Section -->
<section class="contact-page-section">
    <div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20"
        data-paroller-type="foreground" data-paroller-direction="vertical"
        style="background-image: url(images/icons/icon-1.png)"></div>
    <div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20"
        data-paroller-type="foreground" data-paroller-direction="vertical"
        style="background-image: url(images/icons/icon-2.png)"></div>
    <div class="auto-container">
        <div class="inner-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>Get in touch</h2>
            </div>

            <!-- Contact Form -->
            <div class="contact-form">

                <!-- Profile Form -->
                <form name="form" (ngSubmit)="contactForm(contactForm)" #contactForm="ngForm" novalidate>
                    <div class="row clearfix">

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <input type="text" name="username" placeholder="First Name*" required
                                #username="ngModel">
                            <div *ngIf="username.errors.required" class="alert alert-danger">
                                Name is required
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <input type="text" name="lastname" placeholder="Last Name*" required [(ngModel)]="lastname">
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <input type="email" name="email" placeholder="Email Address*" required [(ngModel)]="email">
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <input type="text" name="phone" placeholder="Phone Number*" required [(ngModel)]="phone">
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <textarea class="" name="message" placeholder="Send Message"
                                [(ngModel)]="message"></textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group text-right">
                            <button class="theme-btn btn-style-three" type="submit" name="submit-form"><span
                                    class="txt">Send Message <i class="fa fa-angle-right"></i></span></button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

        <!-- Contact Info Section -->
        <div class="contact-info-section">
            <div class="title-box">
                <h2>Contact Information</h2>
                <div class="text">Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</div>
            </div>

            <div class="row clearfix">

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                    <div class="info-inner">
                        <div class="icon fa fa-phone"></div>
                        <strong>Phone</strong>
                        <ul>
                            <li><a href="tel:+1-123-456-7890">+1 (123) 456-7890</a></li>
                            <li><a href="tel:+1-123-456-7890">+1 (123) 456-7890</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                    <div class="info-inner">
                        <div class="icon fa fa-envelope-o"></div>
                        <strong>Email</strong>
                        <ul>
                            <li><a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
                            <li><a href="mailto:infobootcamp@gmail.com">infobootcamp@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                    <div class="info-inner">
                        <div class="icon fa fa-map-marker"></div>
                        <strong>Address</strong>
                        <ul>
                            <li>Portfolio Technology 07, Capetown 12 Road, Chicago, 2436, USA</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- End Contact Page Section -->

<!-- Call To Action Section Two -->
<section class="call-to-action-section-two" style="background-image: url(images/background/3.png)">
    <div class="auto-container">
        <div class="content">
            <h2>Ready to get started?</h2>
            <div class="text">Replenish him third creature and meat blessed void a fruit gathered you’re, they’re two
                <br> waters own morning gathered greater shall had behold had seed.</div>
            <div class="buttons-box">
                <a href="course.html" class="theme-btn btn-style-one"><span class="txt">Get Stared <i
                            class="fa fa-angle-right"></i></span></a>
                <a href="course.html" class="theme-btn btn-style-two"><span class="txt">All Courses <i
                            class="fa fa-angle-right"></i></span></a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action Section Two -->